* {
    margin: 0;
    padding: 0;
}

.bg {
    background-image: linear-gradient(to top left, #ee7752, #e73c7e, #23a6d5, #23d5ab);
}

.part-title {
    position: relative;
    margin-top: 30px;
    margin-bottom: 10px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
}

.big-word {
    font-size: 92px;
    letter-spacing: 2.4px;
    text-shadow: 0 5px 2px black, 0 6px 2px black, 0 7px 2px black, 0 8px 2px black, 0 9px 2px black, 0 10px 2px black, 0 11px 2px black, 0 12px 2px black, 0 13px 2px black, 0 20px 10px black;
    text-align: center;
    color: white;
}

.letter-page {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    width: 385px;
    height: 80px;
    border-radius: 4px 0 4px 4px;
    padding: 25px 30px;
    color: #008001;
    background-color: white;
    background: linear-gradient(-135deg, transparent 16px, #fff 0);
}

.letter-page:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 22px;
    height: 22px;
    background: linear-gradient(to left bottom, transparent 50%, #dfdfdf, #ababab);
}

.article-list {
    display: flex;
    margin: 20px 10% 0 10%;
    justify-content: space-between;
}

.articles {
    width: 214px;
    height: 142px;
    border: 5px solid white;
    background-size: contain;
    background-repeat: no-repeat;
    overflow: hidden;
    font-family: Merriweather;
}

.first-article {
    background-image: url(../pics/empire-state.png);
}

.second-article {
    background-image: url(../pics/midtown.png);
}

.third-article {
    background-image: url(../pics/liberty.png);
}

.articles:hover .content {
    display: block;
}

.content {
    position: relative;
    display: none;
    width: 189px;
    height: 112px;
    padding: 15px;
    color: white;
    text-align: center;
    font-size: 12px;
    font-family: serif;
}

.first-content {
    background-color: rgba(58, 1, 132, 0.44);
}

.second-content {
    z-index: 1;
}

.third-content {
    background-color: #FFF8E8;
    color: black;
}

.black-box-background {
    position: absolute;
    width: 100%;
    height: 100%;
    top: -80px;
    left: -65px;
    transform: rotate(41deg);
    background-color: rgba(0, 0, 0, .4);
    z-index: -1;
}

.content-title {
    padding: 5px;
    width: 150px;
    margin: 0 auto;
}

.content-underline {
    border-bottom: 1px solid rgba(0, 0, 0, .4);
}

.content p {
    font-style: italic;
}

.content .link-button {
    margin-top: 10px;
}

.content a {
    text-decoration: none;
    color: white;
    padding: 5px 15px 5px 15px;
    background-color: black;
}

.multi-layout-module::before {
    content: "";
    position: absolute;
    top: -32px;
    right: 300px;
    border: 16px solid;
    border-color: transparent transparent white transparent;
}

.multi-layout-module {
    position: relative;
    width: 500px;
    top: -20px;
    margin: 0 auto;
    margin-top: 75px;
    padding: 10px 5px;
    border-radius: 7px;
    background-color: #fff;
    font-family: serif;
    font-size: 16px;
    column-count: 3;
    column-gap: 12px;
    word-break: break-all;
    
}

.multi-layout-module p{
    margin-bottom: 6px;
}